.category-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.space {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding: 1.5rem;
    gap: 1.5rem;
    justify-content: center;
    padding-top: 50px;
}
